{% extends "base.html" %} {% block content %}

    <h1 class="text-body-emphasis">Добавить энергосервисный автомобиль</h1>
    <p class="fs-5 col-md-8">Введите данные о энергосервисном автомобиле</p>

<form action="/addcars" method="post" enctype="multipart/form-data">

<div class="mb-3">
  <label for="id" class="form-label">ID энергосервисного автомобиля</label>
  <input type="text" class="form-control" id="id" name="id" placeholder="1">
</div>

<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="">
</div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">Добавить</button>
  </div>

</form>


{% endblock %}
